<% layout('../layouts/app') %>
<% stylesheet(asset_path('css/animate.min.css')) -%>

<!-- Home Page body section start -->
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <% if(typeof error!=='undefined'){ %>
            <div class="alert alert-danger animate__animated animate__shakeX"><%=error%></div>
            <% } %>
            <div class="card shadow-2-strong rounded">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-5 fw-bold text-theme">Password Update</h3>
                    <form  action="<%=url(`reset-password/${token}`)%>" method="post">
                        <input type="hidden" name="_token" value="<%=csrfToken%>" />
                    
                        <!-- Password -->
                        <div data-mdb-input-init class="form-outline mt-4">
                            <i class="fas fa-eye trailing pointer pe-auto show_password" data-id="password"></i>
                            <input 
                                type="password" 
                                id="password" 
                                name="password" 
                                class="form-control form-control-lg form-icon-trailing" 
                                value="<%= typeof data!=='undefined'? data.password:'' %>"
                                required
                            />
                            <label 
                                class="form-label" 
                                for="password">
                                Password <sup class="text-danger">*</sup> 
                            </label>
                        </div>
                        <% if(typeof password!=='undefined'){ %>
                        <div class="text-danger text-start"><%=password.msg%></div>
                        <% } %>

                        <!-- Confirm Password -->
                        <div data-mdb-input-init class="form-outline mt-4">
                            <i class="fas fa-eye trailing pointer pe-auto show_password" data-id="confirm_password"></i>
                            <input 
                                type="password" 
                                id="confirm_password" 
                                name="confirm_password" 
                                class="form-control form-control-lg form-icon-trailing" 
                                value="<%= typeof data!=='undefined'? data.confirm_password:'' %>"
                                required
                            />
                            <label 
                                class="form-label" 
                                for="confirm_password">
                                Confirm Password 
                                <sup class="text-danger">*</sup>
                            </label>
                        </div>
                        <% if(typeof confirm_password!=='undefined'){ %>
                        <div class="text-danger text-start"><%=confirm_password.msg%></div>
                        <% } %>

                    
                        <!-- Register-->
                        <button data-mdb-ripple-init 
                            class="btn btn-theme btn-lg btn-block text-light mt-4" type="submit">
                            <i class="fa-solid fa-right-to-bracket"></i> Change Password
                        </button>
                    </form>
                    
                    <hr class="my-4">
                    <div>
                        <p class="mb-0">
                            Have already an account? 
                            <a href="<%=url('login')%>" class="text-theme fw-bold">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<!-- Home Page body section end -->


